In [1]:
!pip install psycopg2 -q

In [7]:
import psycopg2
import pandas as pd

In [8]:

# Connect to the Historical database
conn = psycopg2.connect(
    dbname="onprem_db",
    user="postgres",
    password="aimbot@808",
    host="localhost"
)

In [9]:
a = conn.cursor().execute("SELECT * FROM historical_data;")

In [10]:
# Establishing the connection
cursor = conn.cursor()

# SQL query to fetch data from the table
table_name = 'historical_data'
query = f'SELECT * FROM {table_name};'

# Execute the query
cursor.execute(query)

# Fetch all rows from the executed query
rows = cursor.fetchall()

# Get column names
colnames = [desc[0] for desc in cursor.description]

# Close the cursor and connection
cursor.close()
conn.close()

# Create a DataFrame from the fetched data
df = pd.DataFrame(rows, columns=colnames)

# Display the DataFrame
df

,customer_id,first_name,last_name,age,email,city,state
0,1001,John,Smith,32,john.smith@email.com,New York,New York
1,1002,Emily,Johnson,28,emily.johnson@email.com,Los Angeles,California
2,1003,Michael,Williams,45,michael.williams@email.com,Chicago,Illinois
3,1004,Jessica,Brown,39,jessica.brown@email.com,Houston,Texas
4,1005,David,Jones,41,david.jones@email.com,Phoenix,Arizona
5,1006,Sarah,Garcia,35,sarah.garcia@email.com,Philadelphia,Pennsylvania
6,1007,Robert,Miller,47,robert.miller@email.com,San Antonio,Texas
7,1008,Jennifer,Davis,29,jennifer.davis@email.com,San Diego,California
8,1009,William,Rodriguez,38,william.rodriguez@email.com,Dallas,Texas
9,1010,Elizabeth,Martinez,42,elizabeth.martinez@email.com,San Jose,California
10,1011,Thomas,Hernandez,31,thomas.hernandez@email.com,Austin,Texas
11,1012,Patricia,Lopez,44,patricia.lopez@email.com,Jacksonville,Florida
12,1013,James,Gonzalez,30,james.gonzalez@email.com,Fort Worth,Texas
13,1014,Barbara,Wilson,47,barbara.wilson@email.com,Columbus,Ohio
14,1015,Charles,Anderson,33,charles.anderson@email.com,Charlotte,North Carolina
15,1016,Linda,Thomas,36,linda.thomas@email.com,Indianapolis,Indiana
16,1017,Richard,Taylor,49,richard.taylor@email.com,Seattle,Washington
17,1018,Margaret,Moore,27,margaret.moore@email.com,Denver,Colorado
18,1019,Joseph,Jackson,43,joseph.jackson@email.com,Boston,Massachusetts
19,1020,Susan,Martin,37,susan.martin@email.com,Nashville,Tennessee
20,1021,Edward,Lee,45,edward.lee@email.com,Portland,Oregon
21,1022,Nancy,Perez,29,nancy.perez@email.com,Oklahoma City,Oklahoma
22,1023,Christopher,Thompson,50,christopher.thompson@email.com,Las Vegas,Nevada
23,1024,Karen,White,32,karen.white@email.com,Detroit,Michigan
24,1025,Daniel,Harris,41,daniel.harris@email.com,Memphis,Tennessee
25,1026,Lisa,Sanchez,38,lisa.sanchez@email.com,Louisville,Kentucky
26,1027,Matthew,Clark,44,matthew.clark@email.com,Baltimore,Maryland
27,1028,Donna,Ramirez,34,donna.ramirez@email.com,Milwaukee,Wisconsin
28,1029,Anthony,Lewis,46,anthony.lewis@email.com,Albuquerque,New Mexico
29,1030,Dorothy,Robinson,30,dorothy.robinson@email.com,Tucson,Arizona
30,1031,Mark,Walker,39,mark.walker@email.com,Fresno,California
31,1032,Sandra,Young,48,sandra.young@email.com,Sacramento,California
32,1033,Paul,Allen,37,paul.allen@email.com,Atlanta,Georgia
33,1034,Ashley,King,26,ashley.king@email.com,Kansas City,Missouri
34,1035,Steven,Wright,42,steven.wright@email.com,Miami,Florida
35,1036,Kimberly,Scott,31,kimberly.scott@email.com,Raleigh,North Carolina
36,1037,Andrew,Torres,47,andrew.torres@email.com,Omaha,Nebraska
37,1038,Michelle,Nguyen,33,michelle.nguyen@email.com,Oakland,California
38,1039,Kenneth,Hill,40,kenneth.hill@email.com,Minneapolis,Minnesota
39,1040,Carol,Flores,35,carol.flores@email.com,Tulsa,Oklahoma
40,1041,George,Green,49,george.green@email.com,Cleveland,Ohio
41,1042,Amanda,Adams,27,amanda.adams@email.com,Wichita,Kansas
42,1043,Joshua,Nelson,43,joshua.nelson@email.com,Arlington,Texas
43,1044,Helen,Baker,38,helen.baker@email.com,New Orleans,Louisiana
44,1045,Brian,Hall,41,brian.hall@email.com,Bakersfield,California
45,1046,Deborah,Rivera,32,deborah.rivera@email.com,Tampa,Florida
46,1047,Kevin,Campbell,46,kevin.campbell@email.com,Honolulu,Hawaii
47,1048,Melissa,Mitchell,29,melissa.mitchell@email.com,Aurora,Colorado
48,1049,Ronald,Carter,44,ronald.carter@email.com,Anaheim,California
49,1050,Stephanie,Roberts,36,stephanie.roberts@email.com,Santa Ana,California
50,1051,Timothy,Gomez,40,timothy.gomez@email.com,St. Louis,Missouri
51,1052,Debra,Phillips,33,debra.phillips@email.com,Riverside,California
52,1053,Jeffrey,Evans,47,jeffrey.evans@email.com,Corpus Christi,Texas
53,1054,Laura,Turner,31,laura.turner@email.com,Lexington,Kentucky
54,1055,Ryan,Diaz,38,ryan.diaz@email.com,Pittsburgh,Pennsylvania

AttributeError: module 'psycopg2' has no attribute 'get_connection'